<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Склад{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>Система склада</h1>
            </div>
            <nav class="nav-links">
                <a href="/">Главная</a>
                <a href="/items/create" class="btn-header">+ Товар</a>
                <a href="/categories/create" class="btn-header">+ Категория</a>
                <a href="/categories/list" class="btn-header"> Список Категорий</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
