<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Склад{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>Система склада</h1>
            </div>

            <nav class="nav-links">
    <a href="/home">Главная</a>
    <a href="/items/create" class="btn-header">+ Товар</a>
    <a href="/categories/create" class="btn-header">+ Категория</a>
    <a href="/categories/list" class="btn-header">Список Категорий</a>
    <a href="/logs" class="btn-header">История операций</a> <!-- Новая кнопка -->
    {% if current_user and current_user.is_admin %}
    <a href="/admin-panel/create-user" class="btn-header">+ Пользователь</a>
    {% endif %}
</nav>


            <!-- 🔹 Кнопка выхода -->
            <div class="logout">
                <a href="/logout" class="btn-logout">⏻ Выйти</a>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
