{% extends "base.html" %}

{% block title %}Редактировать товар{% endblock %}

{% block content %}
<div class="card">
    <h2>Редактировать товар</h2>
    <form method="post" action="/items/edit/{{ item.id }}" class="form">
        <label>Название</label>
        <input type="text" name="name" value="{{ item.name }}" required>

        <label>Описание</label>
        <textarea name="description">{{ item.description }}</textarea>

        <label>Количество</label>
        <input type="number" name="quantity" value="{{ item.quantity }}" min="0" required>

        <label>Цена</label>
        <input type="number" name="price" step="0.01" value="{{ item.price }}" min="0" required>

        <label>Категория</label>
            <select name="category_id">
                <option value="">-- Без категории --</option>
                {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if item.category and item.category.id == cat.id %}selected{% endif %}>
                        {{ cat.name }}
                    </option>
                {% endfor %}
            </select>

        <button type="submit" class="btn">Сохранить</button>
    </form>
</div>
{% endblock %}
